@media (min-width: 31.25rem){
    .site-title {
        font-size: 17px !important;
    }
}
@media (min-width: 50rem) {  
    .site-title {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}