name: Codecov

on: 
  push:
    paths:
      - '.github/workflows/codecov.yml'
      - '.coveragerc'
      - 'docker/**'
      - 'setups/**'
      - 'src/**'  
      - 'requirements/**'
      - 'tests/**'
      - 'auto_builders/**'      
  pull_request:
    paths:
      - '.github/workflows/codecov.yml'
      - '.coveragerc'
      - 'docker/**'
      - 'setups/**'
      - 'src/**'  
      - 'requirements/**'
      - 'tests/**'
      - 'auto_builders/**'      
jobs:
  run:
    runs-on: ${{ matrix.os }}
    environment: Tests 
    strategy:
      matrix:
        os: [macos-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.8'
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install -r requirements/api.txt
        pip install -r requirements/gui.txt      
        pip install pytest
        pip install coverage
    - name: Generate coverage report
      run: |
        coverage run -m pytest tests/unit_tests && coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: ./
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        path_to_write_report: ./codecov_report.txt
        verbose: true
